@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    font-family: "Playfair Display";

    scroll-behavior: smooth;
}


body {
    padding: 0% 5%;
    margin: auto;
    margin-top: 0px;
    max-width: 2500px;
}

.header{
    height: 70px;
}

h1{
    font-size: 64px;
}

h2{
    font-size: 48px;
}

h3{
    font-size: 32px;
}

h4{
    font-size: 24px;
}

h5{
    font-size: 16px;
}

.textBlue{
    color: #5B77AA;
}

.textGreen{
    color: #39D3D3; 
}

#textWhite{
    color: #fff;
}

span.topButton {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px 15px 20px;
    gap: 25px;
}

button{
    border-radius: 15px 0px;
    padding: 5px 15px 5px 15px;
    border: none;

    color: #fff;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;

    cursor: pointer;
}

.default-button {
    background: #6DD6D6;
}

.detach {
    background: #DAA4FF;
}

.apresentation > img {
    width: 100%;
    max-height: 500px;
}

.location {
    min-height: 300px;
    display: flex;
    margin: auto;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10%;

    padding: 5% 10%;
}

#instrutions {
    display: flex;
    flex-direction: column;
    gap: 20px
}

#instrutions > h5 {
    color: red;
}

.location > .left {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

#pointer {
    position: relative;
    width: 240px;
}


#ellipseFront {
    fill: #D3D3D3;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    top: 11px ;
    right: 13px;

}

.location > .right {
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.bar{
    min-width: 7px;
    max-width: 8px;
    min-height: 400px;
    background: #39D3D3;
    border-radius: 3px;
}

.confirm > h5{
    color: #E05047;
}

.listPresents{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 100%;    
    background: #AED8D8;
    overflow: hidden;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text > button {
    width: 200px;
}


#svg1, #svg2 {
    position: absolute;
    width: 30%;
    height: 70%;
}


#svg1 {
    top: -20px;
    left: -20px;
}

#svg2 {
    bottom: -20px;
    right: -20px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 5% 0px;
    z-index: 2; 
}

#title-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title > img {
    max-width: 500px;
}

.bar-purple{
    background: #DAA4FF;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.about > h1 {
    color: #6DD6D6;
    text-align: center;
}

.stories {
    display: flex;
    flex-direction: column;

    padding: 5%;
    width: 100%;
    gap: 50px;
}

.img-stories {
    display: flex;
    justify-content: center;
}

.img-stories > img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0% 10%;
}

.mobile {
    display: none;
}

.web {
    text-align: justify;
}




@media (max-width: 1208px) {

    

    .location {
        flex-direction: column; /* Altera a direção em telas menores */
        align-items: center; /* Alinha os itens à esquerda */
        gap: 50px; /* Reduz o espaço entre os itens */
        padding: 5% 10%;
        min-height: 150px;
    }

    .location > .right {
        align-items: center;
    }

    .location > .left {
        gap: 0px;
    }

    #pointer > img {
        scale: .8;
    }

    .location > .bar{
        display: none;
    }

    .control {
        display: none;
    }

    .title {
        justify-content: center;
    }

    h1{
        font-size: 48px;
    }
    
    h2{
        font-size: 32px;
    }
    
    h3{
        font-size: 24px;
    }
    
    h4{
        font-size: 16px;
    }
    
    h5{
        font-size: 16px;
    }

    .img-stories > img {
        width: 150px;
        height: 150px;
    }

    .web {
        display: none;
    }

    .mobile {
        display: block;
        text-align: justify;
    }
}

@media (max-width: 600px) {

    #pointer > img {
        scale: .7;
    }


    .img-stories > img {
        width: 105px;
        height: 105px;
        margin: 0% 5%;
    }

    #svg1 {
        top: -80px;
        left: -25px;
    }
    
    #svg2 {
        bottom: -75px;
        right: -25px;
    }
}